.row{
    border-radius: 5px;
    padding: 10px 0px;
}

.day{
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
}

.category{
    font-weight: bold;
}

.value{
    font-size: 24px;
}